@page
@model IndexModel

<div class="center-screen home-bg">
    <div class="card-box">

        <h1 class="title">🎰 Seth's Casino</h1>
        <p class="subtitle">Blackjack Banking System</p>

        <a class="big-button" asp-page="/Game/Index">Play Blackjack</a>

        <a class="big-button secondary" asp-page="/Bank/Index">Add Funds</a>

    </div>
</div>